# Python byte-code / optimized
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.venv/
venv/
env/

# Databases
*.sqlite3

# Uploaded Media Assets
campushub/media/

# Secrets
campushub/.env

