{% extends "base.html" %}
{% block title %}Dashboard Tasks{% endblock %}
{% block content %}
<div class="stats stats-vertical lg:stats-horizontal shadow">
    <div class="stat">
        <div class="stat-title"> Queued tasks</div>
        <div class="stat-value"># </div>
        <div class="stat-desc"># tasks currently in the queue</div>
        </div>
    </div>

    <div class="stat">
        <div class="stat-title"> Completed tasks</div>
        <div class="stat-value"># </div>
        <div class="stat-desc"># tasks completed</div>
        </div>
    </div>

    <div class="stat">
        <div class="stat-title"> Failed tasks</div>
        <div class="stat-value"># </div>
        <div class="stat-desc"># tasks failed</div>
        </div>
    </div>
</div>
{% endblock %}