{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clubs - {{university.university_name}} {% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
</head>
<body class="bg-base-200 min-h-screen p-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-8 text-center text-primary">Clubs at {{ university.university_name }}</h1>
        <ul class="list bg-base-300 rounded-box shadow-md">
                {% for club in clubs %}
                    <li class="list-row p-4">
                        <div class="list-col">
                            <img src="{{club.logo.url}}" alt="{{club.name}} logo" class="w-20 h-20 object-cover rounded-box">
                        </div>
                        <div class="list-col-grow px-4">
                            <h2 class="text-lg font-bold">{{club.name}}</h2>
                        </div>
                        <div class="flex items-center">
                            <a href="{% url 'core:feed' %}?club={{ club.id }}" class="btn btn-primary">View posts</a>
                        </div>
                    </li>
                {% empty %}
                    <li class="p-4 text-center text-gray-500">No clubs found for this university.</li>
                {% endfor %}
        </ul>
    </div>
    

</body>
</html>