{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Select Your University{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
</head>
<body class="bg-base-200 min-h-screen p-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-8 text-center text-primary">Select Your University</h1>

        <ul class="list bg-base-300 rounded-box shadow-md">
            {% for university in universities %}
                <li class="list-row p-4">
                    <div class="list-col">
                        <img src="{{university.logo.url}}" alt="{{university.university_name}} logo" class="w-25 h-25 object-contain rounded-box">
                    </div>
                    <div class="list-col-grow px-4">
                        <h2 class="text-lg font-bold">{{university.university_name}}</h2>
                    </div>
                    <div class="flex items-center">
                        <a href="{% url 'core:clubs' state_id=state.id university_id=university.id %}" class="btn btn-primary">{{university.club_count}} clubs registered</a>
                    </div>
                </li>
            {% empty %}
                <li class="p-4 text-center text-gray-500">No universities found in this state.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
                        